<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django課題</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'event/style.css' %}">
</head>

<body>
    <form method="post" action="{% url 'event:create' %}" method="post">
        {% csrf_token %}
        <h1>30秒で作れる！カンタン出欠表</h1>
        <hr>
        <article>
            <div class="event">
                <div class="st_and">
                    <h4>STEP1</h4>
                    <h3>イベント名</h3>
                </div>
                <input type="text" placeholder="今期もお疲れ様飲み会" name="title">
                <div class="memo">
                    <p>メモ(任意)</p>
                    <textarea placeholder="例) 飲み会の日程調節をしましょう！出欠〆切は◯日 など" name="memo"></textarea>
                </div>
            </div>
            <div class="nittei">
                <div class="st_and">
                    <h4>STEP2</h4>
                    <h3>日程・時間 候補</h3>
                </div>
                <div class="moji">
                    <p>カレンダーをクリックすると日程候補に日付が入ります。</p>
                    <p>西暦、月、日、開始予定時間、終了予定時間の順番で</p>
                    <p>入力してください。</p>
                </div>
                <div class="tatoe">
                    <span>例:</span>
                    <div class="day_time">
                        <li>0000-00-00 19:00 22:00</li>
                        <li></li>
                    </div>
                </div>
                <li>※数字、空白は必ず半角で入れてください</li>
                <textarea placeholder="候補の区切りは改行で判断されます。内容は直接編集できます。" name="date"></textarea>
            </div>
            <div class="karenda-">
            </div>
        </article>
        <footer>
            <p><a href="{% url 'event:kiyaku' %}">利用規約</a>に同意のうえ、</p>
            <input type="submit" value="出欠表をつくる" name="created_date">
        </footer>
    </form>
</body>

</html>