<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'event/list_style.css' %}">
    <title>出欠表一覧</title>
</head>

<body>
    <h1>イベントリスト</h1>
    <hr>
    <div class="lst">
        {% for event in all_e %}
        <ul>
            <li><a href="https://youtube.com">{{ event.name }}</a></tr>
        </ul>
        <hr>
        {% endfor %}
    </div>
    <div class="form">
        <form action="{% url 'event:sinnki' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="新規出欠表を追加">
        </form>
    </div>
</body>

</html>