<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'event/list_style.css' %}">
    <title>Django課題</title>
</head>

<body>
    <h1>イベントリスト</h1>
    <hr>
    <div class="lst">
        {% for event in all_e %}
        <div class="aaa">
            <p>{{ event.name }}</p>
            <form action="{% url 'event:shousai' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="詳細">
            </form>
            <form action="{% url 'event:delete' event.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="消去">
            </form>
            <form action="{% url 'event:shousai' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="編集">
            </form>
        </div>
        {% endfor %}
        <div class="form">
            <form action="{% url 'event:sinnki' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="新規出欠表を追加">
            </form>
        </div>
    </div>
</body>

</html>

<!-- <a href="{% url 'event:shousai' %}"></a> -->