<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'event/list_style.css' %}">
    <title>Django課題</title>
</head>

<body>
    <h1>イベントリスト</h1>
    <hr>
    {% for event in all_e %}
    <div class="flex">
        <p>{{ event.name }}</p>
        <div class="shousai">
            <form action="{% url 'event:shousai' event.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="詳細">
            </form>
        </div>
        <div class="henshuu">
            <form action="{% url 'event:delete' event.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="編集">
            </form>
        </div>
        <div class="shoukyo">
            <form action="{% url 'event:delete' event.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="消去">
            </form>
        </div>
    </div>
    {% endfor %}
    <div class="sinki">
        <form action="{% url 'event:form' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="新規出欠表を追加">
        </form>
    </div>
</body>

</html>