<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django課題</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'event/shousai.css' %}">
</head>

<body>
    <h1>詳細</h1>
    <hr>
    <div class="shousai">
        <p>イベントID：{{ event.id }}</p>
        <p>イベント名：{{ event.name }}</p>
        <p>メモ：{{ event.memo }}</p>
        <p>作成日：{{ createddate.created_at }}</p>
    </div>
    <div class="form">
        <form action="{% url 'event:form' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="新規出欠表を追加">
        </form>
        <form action="{% url 'event:list' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="一覧に戻る">
        </form>
    </div>
    </div>
</body>

</html>