h1 {
    font-size: 100px;
}

html {
    text-align: center;
    background-color: #f0fff0;
    margin: 20px 2%;
}

input {
    padding: 18px 500px;
    border-radius: 15px;
    font-size: 25px;
    background-color: green;
    border: none;
    color: white;
}

p {
    font-size: 50px;
    margin-bottom: 100px;
}