html {
    text-align: center;
    background-color: #f0fff0;
    margin: 20px 2%;
}

.lst {
    margin-top: 80px;
}

h1 {
    margin-top: 20px;
    font-size: 60px;
    color: #696969;
    margin-bottom: 0px;

}

.form input {
    padding: 18px 500px;
    border-radius: 15px;
    font-size: 25px;
    background-color: green;
    border: none;
    color: white;
}

.aaa {
    display: flex;
    margin-left: 30%;

}

p {
    margin: 0px;

}