html {
    background-color: #f0fff0;
    margin: 20px 2%;
}

h1 {
    color: #696969;
    margin-bottom: 0px;
    text-align: center;
    font-size: 50px;
}

.st_and {
    display: flex;
}

hr {
    height: 3px;
    background-color: #808080;
    border: none;
}

article {
    display: flex;
}

footer {
    text-align: center;
}

footer input {
    padding: 18px 500px;
    border-radius: 15px;
    font-size: 25px;
    background-color: green;
    border: none;
    color: white;
}

h4 {
    padding: 3px 3px;
    width: 60px;
    margin-top: 18px;
    background-color: #696969;
    color: white;
}

h3 {
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: 25px;
    margin-top: 16px;
}

textarea {
    width: 400px;
    height: 200px;
    font-size: 20px;
    margin-top: 15px;
}

footer a {
    color: orange;
    text-decoration: none;
}

footer p {
    font-size: 20px;
}

li {
    list-style: none;
    margin-left: 15px;
}

.tatoe {
    display: flex;
}

.memo p {
    font-size: 20px;
    margin-bottom: 10px;
    border-left: 5px solid;
    border-color: #696969;
    padding-left: 10px;
    margin-top: 55px;

}

.event input {
    width: 400px;
    height: 40px;
    font-size: 25px;
}

.nittei {
    width: 35%;
    padding-right: 15%;
    margin-top: 20px;
}

.moji p {
    margin: 0;
}

.moji {
    margin-bottom: 15px;
}

.event {
    width: 35%;
    padding-left: 15%;
    margin-top: 20px;
}

.h_text {
    width: 400px;
    height: 40px;
}

::placeholder {
    font-size: 20px;
}