<!-- 初めの雫が垂れるやつ -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サントリアル</title>
</head>
<body>
    <!-- <h1 class="fade-in">サントリアル</h1> -->
    <button class="start" id="startButton" onclick="location.href='index2.html'">流す</button>
    <canvas id="canvas"></canvas>           <!--　なんこれよくわからんまじムカつく☺︎　-->
    <link rel="stylesheet" href="style.css" />
    <script src="java.js"></script>
</body>
</html>
